{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Andrew Theodore</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>

<body>
    <div class="container d-flex">
        <div class="align-self-center w-100">
            <div class="login-box">
                <h2 class="text-center">Andrew Theodore</h2>
                <hr>
                <h5>Selamat Datang {{ first_name }} {{ last_name }} </h5>
                <div class="text-right">
                    <a href="/logout/"><button type="button" class="btn btn-secondary">Logout</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
